<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Shop{% endblock %}</title>
    {% block header %}
    {% endblock %}
</head>
<body>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<nav>
    <div style="display: flex;">
        <a href="{% url 'products:product_list' %}">products</a>
        &NonBreakingSpace;
        <a href="{% url 'cart:show_cart' %}">cart</a>
        &NonBreakingSpace;
        <a href="{% url 'orders:show_all_user_order' %}">orders</a>
        &NonBreakingSpace;
        <a href="{% url 'wallets:show_all_wallets' %}">Wallets</a>


    <div>
    <!-- navbar -->
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
